{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Home</li>
</ol>

<h1>Confirmation page</h1>
<hr>

<h3>Your have successfully registered as a new patient with the following details:</h3>
<p>
<strong>First name: </strong>{{patient.first_name}}<br />
<strong>Last Name: </strong>{{patient.last_name}}<br />
<strong>Email Address: </strong>{{patient.email}}<br />
<strong>Telephone Number: </strong>{{patient.telephone}}<br />
<strong>Address: </strong>{{patient.address}}
</p>

{% endblock %}